@charset "UTF-8";

* {margin: 0px;
    padding: 0px;


}
img { width: 246px;
      margin: auto;
      
}

a { color: white;
    background-color: blueviolet;
    text-decoration: none;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    padding: 5px;
    


}


